img {
    float: left;
    width: 30%; 
    margin-right: 1%; 
    margin-bottom: 0.5em;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 350%;
    color: #9ac2f0;
}

p, th, td {
    font-size: 140%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3b3;
}

ul.topnav li {
    float: left;
    }

ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
    background-color: #555;}

#pageant {
    position: relative;
    z-index: 1;
}

#prom {
    position: relative;
    z-index: 1;
    bottom: 350px;
}

#wedding {
    position: relative;
    z-index: 1;
    bottom: 350px;
}

greenish color: #b6e2cd
greyish color: #cad4d4
bluish color: #9ac2f0